@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-image: url('https://www.teahub.io/photos/full/93-938757_75-web-website-background-color.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:white;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 100px;
  font-family: 'lato', sans-serif;
}
 
 
 
 .App {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-decoration-line:underline;
  text-align: center;
  letter-spacing: 2px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}


form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form{
  flex-direction: column;
}
form button {
  width: 100%;
  padding: 10px;
  background-color: #091c22;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  
}
p{
  font-size: larger;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: #017497;
  color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #057905;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


button[type="button"]:hover,
button[type="submit"]:hover {
  opacity: 0.7;
}

